@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("images/image.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  width: 750px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  color: #fff;
  padding: 40px 35px 55px;
  margin: 0 10px;
}

.container h1 {
  font-size: 3rem;
  text-align: center;
  margin: 20px 0 20px 0;
}

.container .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-box .input-field {
  position: relative;
  width: 48%;
  height: 50px;
  margin: 15px 0;
}

.input-box .input-field input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  font-size: 1.8rem;
  color: #fff;
  border-radius: 5px;
  padding: 15px 15px 15px 40px;
}

.input-box .input-field input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.container .input-box .input-field i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
}

.container label {
  display: inline-block;
  font-size: 1.5rem;
  margin: 10px 0 25px 15px;
}

.container label input {
  accent-color: #fff;
  margin-right: 5px;
}

.container .btn {
  width: 100%;
  height: 40px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
}

@media (max-width: 576px) {
  .input-box .input-field {
    width: 100%;
    margin: 10px 0;
  }
}
